In [1]:
# MY QUESTIONS
# 1. What is the number of dead male characters?
# 2. How many female characters are first appeared in april
# 3. print the number of characters who have blue eyes and appeared more than 88 times

In [2]:
# import the libraries we want to use
import pandas as pd
import numpy as np

In [3]:
# load csv file
superheroes = pd.read_csv("superhero_data.csv", parse_dates = ["FIRST_YEAR"])

In [4]:
# create data frame 
df = pd.DataFrame(data = superheroes)

# you can print to see the selected data
print(df)

      UNIVERSE page_id                                   name  \
0           DC    1702             Richard Occult (New Earth)
1           DC  158200           Arthur Pendragon (New Earth)
2           DC  289378                   Bedivere (New Earth)
3           DC   11333  Franklin Delano Roosevelt (New Earth)
4           DC  342641                     Gareth (New Earth)
...        ...     ...                                    ...
23415   MARVEL      ND                  Zola Hulk (Earth-616)
23416   MARVEL      ND              Zola Iron Man (Earth-616)
23417   MARVEL      ND                  Zola Thor (Earth-616)
23418   MARVEL      ND                    Zoltaro (Earth-616)
23419   MARVEL      ND                Zora Loftus (Earth-616)

                                     urlslug               ID  \
0                 Richard_Occult_(New_Earth)  Secret Identity
1               Arthur_Pendragon_(New_Earth)  Public Identity
2                       Bedivere_(New_Earth)               ND
3      Franklin_Delano_Roosevelt_(New_Earth)  Public Identity
4                         Gareth_(New_Earth)               ND
...                                      ...              ...
23415                  Zola_Hulk_(Earth-616)  Secret Identity
23416              Zola_Iron_Man_(Earth-616)  Secret Identity
23417                  Zola_Thor_(Earth-616)  Secret Identity
23418                    Zoltaro_(Earth-616)               ND
23419                Zora_Loftus_(Earth-616)  Secret Identity

                 ALIGN IS_AVENGER AVENGER_STATUS AVENGER_YEAR        EYES  \
0                   ND         NO             ND           ND   Grey Eyes
1      Good Characters         NO             ND           ND  Brown Eyes
2                   ND         NO             ND           ND          ND
3      Good Characters         NO             ND           ND          ND
4                   ND         NO             ND           ND          ND
...                ...        ...            ...          ...         ...
23415   Bad Characters         NO             ND           ND    Red Eyes
23416   Bad Characters         NO             ND           ND  Black Eyes
23417   Bad Characters         NO             ND           ND   Blue Eyes
23418   Bad Characters         NO             ND           ND          ND
23419   Bad Characters         NO             ND           ND          ND

       ...                SEX                SEXUALITY                ALIVE  \
0      ...    Male Characters  Heterosexual Characters    Living Characters
1      ...    Male Characters  Heterosexual Characters    Living Characters
2      ...    Male Characters  Heterosexual Characters    Living Characters
3      ...    Male Characters  Heterosexual Characters    Living Characters
4      ...    Male Characters  Heterosexual Characters    Living Characters
...    ...                ...                      ...                  ...
23415  ...    Male Characters  Heterosexual Characters    Living Characters
23416  ...    Male Characters  Heterosexual Characters    Living Characters
23417  ...    Male Characters  Heterosexual Characters    Living Characters
23418  ...    Male Characters  Heterosexual Characters  Deceased Characters
23419  ...  Female Characters  Heterosexual Characters    Living Characters

      APPEARANCES FIRST_MONTH FIRST_YEAR DECEASED RESURRECTED Unnamed: 19  \
0             125    October        1935       ND          ND         NaN
1              41   February        1936       ND          ND         NaN
2              ND   February        1936       ND          ND         NaN
3              52      March        1936       ND          ND         NaN
4               1   February        1936       ND          ND         NaN
...           ...         ...        ...      ...         ...         ...
23415           1          ND         ND       ND          ND         NaN
23416           1          ND         ND       ND          ND         NaN
23417           1          ND         ND       ND          ND         NaN
23418           2          ND         ND       ND          ND         NaN
23419          ND          ND         ND       ND          ND         NaN

       Unnamed: 20
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
23415          NaN
23416          NaN
23417          NaN
23418          NaN
23419          NaN

[23420 rows x 21 columns]

In [5]:
# create list to sort out the answers to data set questions 
# 1. What is the number of dead male characters?

list_of_deadmales = []

In [6]:
num_rows = df.shape[0]

In [7]:
# create loop
for row in range(num_rows):
    
# use continue to skip cell with no data
    if(df["SEX"][row]=="ND"):
        continue
    
    elif(df["SEX"][row] == "Male Characters" and (df["ALIVE"][row])) == "Deceased Characters":
        
        list_of_deadmales.append(df["name"][row])

In [8]:
# print the number of list_of_deadmales
print(len(list_of_deadmales))

4140

In [9]:
# qustion #2

# How many female characters are first appeared in april 

list_of_aprilfemales = []

In [10]:
num_rowsapril = df.shape[0]

In [11]:
# create new loop 
for row in range(num_rowsapril):
    if(df["SEX"][row]=="ND"):
        continue
        
    elif(df["SEX"][row] == "Female Characters" and (df["FIRST_MONTH"][row])) == "April":
    
        list_of_aprilfemales.append(df["name"][row])

In [12]:
# print number of felame characters who appeared in April 
print(len(list_of_aprilfemales))

186

In [13]:
# question #3
# print the number of characters who have blue eyes and appeared more than 88 times

list_of_blue88 = []
appear= 0

In [14]:
num_rows88 = df.shape[0]

In [15]:
#i put the new list in the same cell as the loop so that we don't get confused about repeatedly adding items to the list. 
updated_list_of_blue88 = []


for row in range(num_rows88):
    #it isn't necessary, since you're isolating a specific string later on 
    if(df["EYES"][row]=="ND"):
        continue
    
    #skipping ND appearances is critical because of the int & string mix    
    if(df["APPEARANCES"][row]=="ND"):
        continue
   
    #the simplest fix I could think of was just placing it in a variable.    
    c = int(df["APPEARANCES"][row])
    #checking to see it's working
    #print(c)
    
    #checking to see if both conditions are true before adding it.
    if(c > 88) and (df["EYES"][row] == "Blue Eyes"):        
        updated_list_of_blue88.append(df["name"][row])

In [16]:
# print number of charactesr with blue eyes who have appeared more than 88 times
print(len(updated_list_of_blue88))

402