### IMPORTANT: This notebook file will not run unless the .ipynb file and the superheroData.csv are in the same folder!

# Marvel-DC Comics crosstab formatting skeleton

### DC_comics_skeleton created by Ricarose Roque and modified by Wendy Norris & again by Shiva Darian as a demo for Summer INFO 1201.

##### Step 1: Import the pandas and numpy libraries into Jupyter Notebook.

This command provides routine instructions to Python on how to handle the data in the spreadsheet. We abbreviate Pandas and NumPy for faster typing/cleaner looking code. We'll be using both libraries a lot in the data visualization project. 

Click <i>Shift-Enter</i> through the import line. It won't look to you like anything happened but Jupyter knows.

In [1]:
import pandas as pd
import numpy as np

##### Step 2: Now we set up pandas to open the csv file.

First, we'll tell Jupyter to use some of the built-in instructions from the imported Python libraries to read the file. 

We'll assign a new name to the csv file to make it easier to differentiate between the file on our desktops and the one we're working with in Jupyter.  

Next, use the pd.read_csv command to tell Jupyter to take all the data, read it, and copy it into this new variable called "superheroes". Finally, on the same line, we add the command to <i>parse_dates</i>. This is a nifty trick by Pandas to standardize the way the YEAR column in the csv file is formatted in Jupyter so that Python understands that 2017 is a year and not just a <i>string</i> or <i>integer</i>. This will make it easier for us to access and explore the data. 

Again, when you <i>Shift-Enter</i> through this next cell, it won't look like anything happened.

In [2]:
superheroes = pd.read_csv("superhero_data.csv", parse_dates = ["FIRST_YEAR"])

##### Step 3: Let's print a few lines of the superheroes list to make sure Jupyter read it correctly.

Pandas makes it super easy to print a nice dataframe to look at the <i>head</i> or the first 5 rows of the spreadsheet to check for any import errors.

In [3]:
superheroes.head()

,UNIVERSE,page_id,name,urlslug,ID,ALIGN,IS_AVENGER,AVENGER_STATUS,AVENGER_YEAR,EYES,HAIR,SEX,SEXUALITY,ALIVE,APPEARANCES,FIRST_MONTH,FIRST_YEAR,DECEASED,RESURRECTED
0,DC,1702,Richard Occult (New Earth),Richard_Occult_(New_Earth),Secret Identity,ND,NO,ND,ND,Grey Eyes,Black Hair,Male Characters,Heterosexual Characters,Living Characters,125,October,1935,ND,ND
1,DC,158200,Arthur Pendragon (New Earth),Arthur_Pendragon_(New_Earth),Public Identity,Good Characters,NO,ND,ND,Brown Eyes,Brown Hair,Male Characters,Heterosexual Characters,Living Characters,41,February,1936,ND,ND
2,DC,289378,Bedivere (New Earth),Bedivere_(New_Earth),ND,ND,NO,ND,ND,ND,ND,Male Characters,Heterosexual Characters,Living Characters,ND,February,1936,ND,ND
3,DC,11333,Franklin Delano Roosevelt (New Earth),Franklin_Delano_Roosevelt_(New_Earth),Public Identity,Good Characters,NO,ND,ND,ND,Grey Hair,Male Characters,Heterosexual Characters,Living Characters,52,March,1936,ND,ND
4,DC,342641,Gareth (New Earth),Gareth_(New_Earth),ND,ND,NO,ND,ND,ND,ND,Male Characters,Heterosexual Characters,Living Characters,1,February,1936,ND,ND

## Crosstabs can be really helpful snapshots of our data. But they don't have to be ugly, like this one evaluating Yellow Eyes and Red Hair:

In [4]:
creepy_villain = pd.crosstab(superheroes["EYES"] == "Yellow Eyes", superheroes["HAIR"] == "Red Hair")

print(creepy_villain)

HAIR   False  True
EYES
False  22004   1073
True     325     18

## So let's print some nicer looking ones. Check out these formats.

#### Just some simple crosstabs. And the tables are kind of interactive too.

In [5]:
creepy_villain = pd.crosstab(index = superheroes["EYES"] == "Yellow Eyes", columns = superheroes["HAIR"] == "Red Hair")

creepy_villain.columns = ["Has red hair", "Does not have red hair"]
creepy_villain.index = ["Has yellow eyes", "Does not have yellow eyes"]
creepy_villain

                           Has red hair  Does not have red hair
Has yellow eyes                   22004                    1073
Does not have yellow eyes           325                      18

#### This is the correct version of the False/True block headings.

In [6]:
creepy_villain = pd.crosstab(index = superheroes["EYES"] == "Yellow Eyes", columns = superheroes["HAIR"] == "Red Hair")

creepy_villain.columns = ["Does not have red hair", "Has red hair"]
creepy_villain.index = ["Does not have yellow eyes", "Has yellow eyes"]
creepy_villain

                           Does not have red hair  Has red hair
Does not have yellow eyes                   22004          1073
Has yellow eyes                               325            18

#### The next crosstabs are a little different. They are only stand-alone tables that can't be called later in the program since you're <u>NOT</u> assigning variable names like we did with <font color=blue>creepy villain = pd.crosstab</font>...

In [7]:
pd.crosstab(superheroes["HAIR"], superheroes["ALIGN"])

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals
HAIR,,,,,
Auburn Hair,21,37,12,12,0
Bald,465,157,90,130,0
Bald formerly Brown Hair and sometimes Blond Hair,0,1,0,0,0
Black Hair,2205,1898,629,640,0
Black Hair (shaved bald),0,1,0,0,0
Black Hair (shaved),0,0,1,0,0
Black Hair shaved bald,0,1,0,0,0
Black Hair with White streaks,0,1,0,0,0
Blond Hair,719,1000,318,311,2
Blue Hair,44,25,12,17,0
Bronze Hair,0,1,0,0,0
Brown Hair,1257,1337,481,439,0
Brown Hair dyed Black,0,1,0,0,0
Brown Hair; No Hair,0,1,0,0,0
Brown or Green Hair,0,1,0,0,0
Dyed Hair,0,0,0,1,0
Gold Hair,3,7,1,2,0
Gray Hair dyed Black,0,1,0,0,0
Green Hair,68,55,21,16,0
Grey Hair,262,228,111,88,0
Light Brown Hair,0,5,0,1,0
Magenta Hair,2,2,1,0,0
ND,2991,1654,1305,588,0
No Hair,672,179,128,201,0
No Hair formerly Blond Hair,0,1,0,0,0
Orange Hair,13,25,11,16,0
Orange-brown Hair,3,0,0,0,0
Pink Hair,15,14,7,6,0
Platinum Blond Hair,1,0,0,1,0
Purple Hair,28,33,11,8,0
Red Hair,345,439,151,155,1
Red Hair formerly dyed Black,0,1,0,0,0
Reddish Blond Hair,3,3,0,0,0
Reddish Brown Hair,1,2,0,0,0
Silver Hair,5,8,4,4,0
Strawberry Blond,0,0,1,0,0
Strawberry Blond Hair,17,45,9,9,0
Variable,0,0,1,0,0
Variable Hair,15,6,3,8,0
Violet Hair,1,2,0,1,0
White Hair,450,406,126,121,0
Yellow Hair,9,4,3,4,0

#### These formats have a nice layout and sum up the columns and rows by adding the Boolean condition <font color=blue>_margins=True_</div>.

In [8]:
pd.crosstab(superheroes["SEXUALITY"], superheroes["ALIGN"], margins=True)

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals,All
SEXUALITY,,,,,,
Bisexual Characters,7,15,0,7,0,29
Genderfluid Characters,0,1,0,0,0,1
Heterosexual Characters,9590,7372,3402,2751,3,23118
Homosexual Characters,17,77,10,14,0,118
ND,2,117,24,6,0,149
Pansexual Characters,0,1,0,0,0,1
Transgender Characters,0,1,1,0,0,2
Transvestites,0,0,0,1,0,1
All,9616,7584,3437,2779,3,23419

In [9]:
pd.crosstab(superheroes["FIRST_YEAR"], superheroes["ALIGN"], margins=True)

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals,All
FIRST_YEAR,,,,,,
1935,0,0,1,0,0,1
1936,0,6,2,1,0,9
1937,0,4,0,0,0,4
1938,0,8,2,0,0,10
1939,35,34,1,18,0,88
...,...,...,...,...,...,...
2012,80,81,19,28,0,208
2013,50,46,18,62,0,176
2014,0,1,0,0,0,1
ND,286,303,148,144,0,881
All,9616,7584,3437,2779,3,23419

#### This format calculates percentages rather than simply adding up the counts. It calls a few instructions that are built into Pandas: the methods <font color=blue> _.apply_</font>, <font color=blue> _.sum_</font>; the <font color=blue>_lambda( )_</font> tells Pandas to perform some function but don't give it a variable name it since I won't be using it again later.

In [10]:
pd.crosstab(superheroes["SEXUALITY"], superheroes["ALIGN"]).apply(lambda r: r/r.sum())

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals
SEXUALITY,,,,,
Bisexual Characters,0.000728,0.001978,0.000000,0.002519,0.0
Genderfluid Characters,0.000000,0.000132,0.000000,0.000000,0.0
Heterosexual Characters,0.997296,0.972046,0.989817,0.989924,1.0
Homosexual Characters,0.001768,0.010153,0.002910,0.005038,0.0
ND,0.000208,0.015427,0.006983,0.002159,0.0
Pansexual Characters,0.000000,0.000132,0.000000,0.000000,0.0
Transgender Characters,0.000000,0.000132,0.000291,0.000000,0.0
Transvestites,0.000000,0.000000,0.000000,0.000360,0.0

#### Here's an example of a crosstab that looks at three variables by specifying the columns "ALIGN' and "SEX" and breaking it down further by "SEXUALITY" and then adding up all the columns and rows with the Boolean condition <i><font color="blue">margins=True</font></i>

In [11]:
pd.crosstab(index=superheroes["SEX"], columns=[superheroes["ALIGN"], superheroes["SEXUALITY"]], margins=True)

ALIGN                       Bad Characters                          \
SEXUALITY              Bisexual Characters Heterosexual Characters
SEX
Agender Characters                       0                      20
Female Character                         0                       0
Female Characters                        4                    1560
Genderfluid Characters                   0                       0
Genderless Characters                    0                      11
Male Character                           0                       0
Male Characters                          3                    7549
ND                                       0                     449
Transgender Characters                   0                       1
All                                      7                    9590

ALIGN                                               Good Characters  \
SEXUALITY              Homosexual Characters ND Bisexual Characters
SEX
Agender Characters                         0  0                   0
Female Character                           0  0                   0
Female Characters                          9  0                   9
Genderfluid Characters                     0  0                   0
Genderless Characters                      0  0                   0
Male Character                             0  1                   0
Male Characters                            8  1                   6
ND                                         0  0                   0
Transgender Characters                     0  0                   0
All                                       17  2                  15

ALIGN                                                                  \
SEXUALITY              Genderfluid Characters Heterosexual Characters
SEX
Agender Characters                          0                      10
Female Character                            0                       0
Female Characters                           0                    2451
Genderfluid Characters                      1                       0
Genderless Characters                       0                       6
Male Character                              0                       2
Male Characters                             0                    4752
ND                                          0                     151
Transgender Characters                      0                       0
All                                         1                    7372

ALIGN                                                                   ...  \
SEXUALITY              Homosexual Characters   ND Pansexual Characters  ...
SEX                                                                     ...
Agender Characters                         0    0                    0  ...
Female Character                           0   39                    0  ...
Female Characters                         27    0                    1  ...
Genderfluid Characters                     0    0                    0  ...
Genderless Characters                      0    0                    0  ...
Male Character                             0   78                    0  ...
Male Characters                           50    0                    0  ...
ND                                         0    0                    0  ...
Transgender Characters                     0    0                    0  ...
All                                       77  117                    1  ...

ALIGN                                     ND                             \
SEXUALITY              Homosexual Characters  ND Transgender Characters
SEX
Agender Characters                         0   0                      0
Female Character                           0   9                      0
Female Characters                          5   0                      1
Genderfluid Characters                     0   0                      0
Genderless Characters                      0   0                      0
Male Character                             0  15                      0
Male Characters                            5   0                      0
ND                                         0   0                      0
Transgender Characters                     0   0                      0
All                                       10  24                      1

ALIGN                   Neutral Characters                          \
SEXUALITY              Bisexual Characters Heterosexual Characters
SEX
Agender Characters                       0                      13
Female Character                         0                       0
Female Characters                        5                     826
Genderfluid Characters                   1                       0
Genderless Characters                    1                       2
Male Character                           0                       0
Male Characters                          0                    1789
ND                                       0                     121
Transgender Characters                   0                       0
All                                      7                    2751

ALIGN                                                          \
SEXUALITY              Homosexual Characters ND Transvestites
SEX
Agender Characters                         0  0             0
Female Character                           0  1             0
Female Characters                          5  0             0
Genderfluid Characters                     0  0             0
Genderless Characters                      0  0             0
Male Character                             0  5             0
Male Characters                            9  0             1
ND                                         0  0             0
Transgender Characters                     0  0             0
All                                       14  6             1

ALIGN                       Reformed Criminals    All
SEXUALITY              Heterosexual Characters
SEX
Agender Characters                           0     45
Female Character                             0     49
Female Characters                            1   5803
Genderfluid Characters                       0      2
Genderless Characters                        0     20
Male Character                               0    101
Male Characters                              2  16420
ND                                           0    978
Transgender Characters                       0      1
All                                          3  23419

[10 rows x 22 columns]

In [12]:
pd.crosstab(index=superheroes["FIRST_YEAR"], columns=[superheroes["ALIGN"], superheroes["SEXUALITY"]], margins=True)

ALIGN           Bad Characters                                                \
SEXUALITY  Bisexual Characters Heterosexual Characters Homosexual Characters
FIRST_YEAR
1935                         0                       0                     0
1936                         0                       0                     0
1937                         0                       0                     0
1938                         0                       0                     0
1939                         0                      35                     0
...                        ...                     ...                   ...
2012                         0                      80                     0
2013                         0                      50                     0
2014                         0                       0                     0
ND                           0                     285                     0
All                          7                    9590                    17

ALIGN             Good Characters                         \
SEXUALITY  ND Bisexual Characters Genderfluid Characters
FIRST_YEAR
1935        0                   0                      0
1936        0                   0                      0
1937        0                   0                      0
1938        0                   0                      0
1939        0                   0                      0
...        ..                 ...                    ...
2012        0                   0                      0
2013        0                   1                      0
2014        0                   0                      0
ND          1                   0                      0
All         2                  15                      1

ALIGN                                                          \
SEXUALITY  Heterosexual Characters Homosexual Characters   ND
FIRST_YEAR
1935                             0                     0    0
1936                             6                     0    0
1937                             4                     0    0
1938                             8                     0    0
1939                            34                     0    0
...                            ...                   ...  ...
2012                            76                     4    1
2013                            38                     2    5
2014                             1                     0    0
ND                             297                     6    0
All                           7372                    77  117

ALIGN                            ...                    ND      \
SEXUALITY  Pansexual Characters  ... Homosexual Characters  ND
FIRST_YEAR                       ...
1935                          0  ...                     0   0
1936                          0  ...                     0   0
1937                          0  ...                     0   0
1938                          0  ...                     0   0
1939                          0  ...                     0   0
...                         ...  ...                   ...  ..
2012                          0  ...                     0   1
2013                          0  ...                     0   2
2014                          0  ...                     0   0
ND                            0  ...                     0   0
All                           1  ...                    10  24

ALIGN                              Neutral Characters                          \
SEXUALITY  Transgender Characters Bisexual Characters Heterosexual Characters
FIRST_YEAR
1935                            0                   0                       0
1936                            0                   0                       1
1937                            0                   0                       0
1938                            0                   0                       0
1939                            0                   0                      17
...                           ...                 ...                     ...
2012                            0                   0                      28
2013                            0                   0                      61
2014                            0                   0                       0
ND                              0                   0                     144
All                             1                   7                    2751

ALIGN                                                  Reformed Criminals  \
SEXUALITY  Homosexual Characters ND Transvestites Heterosexual Characters
FIRST_YEAR
1935                           0  0             0                       0
1936                           0  0             0                       0
1937                           0  0             0                       0
1938                           0  0             0                       0
1939                           0  1             0                       0
...                          ... ..           ...                     ...
2012                           0  0             0                       0
2013                           1  0             0                       0
2014                           0  0             0                       0
ND                             0  0             0                       0
All                           14  6             1                       3

ALIGN         All
SEXUALITY
FIRST_YEAR
1935            1
1936            9
1937            4
1938           10
1939           88
...           ...
2012          208
2013          176
2014            1
ND            881
All         23419

[82 rows x 22 columns]

#### Be thoughtful about what data you want to compare. It can become meaningless fairly quickly if you add too much complexity.

In [13]:
pd.crosstab(index=superheroes["SEX"], columns=[superheroes["ALIGN"], superheroes["SEXUALITY"], superheroes["ALIVE"]], margins=True)

ALIGN                       Bad Characters                    \
SEXUALITY              Bisexual Characters
ALIVE                  Deceased Characters Living Characters
SEX
Agender Characters                       0                 0
Female Character                         0                 0
Female Characters                        0                 4
Genderfluid Characters                   0                 0
Genderless Characters                    0                 0
Male Character                           0                 0
Male Characters                          1                 2
ND                                       0                 0
Transgender Characters                   0                 0
All                                      1                 6

ALIGN                                                                \
SEXUALITY              Heterosexual Characters
ALIVE                      Deceased Characters Living Characters ND
SEX
Agender Characters                           2                18  0
Female Character                             0                 0  0
Female Characters                          385              1174  1
Genderfluid Characters                       0                 0  0
Genderless Characters                        3                 8  0
Male Character                               0                 0  0
Male Characters                           2248              5301  0
ND                                          88               361  0
Transgender Characters                       1                 0  0
All                                       2727              6862  1

ALIGN                                                           \
SEXUALITY              Homosexual Characters
ALIVE                    Deceased Characters Living Characters
SEX
Agender Characters                         0                 0
Female Character                           0                 0
Female Characters                          2                 7
Genderfluid Characters                     0                 0
Genderless Characters                      0                 0
Male Character                             0                 0
Male Characters                            2                 6
ND                                         0                 0
Transgender Characters                     0                 0
All                                        4                13

ALIGN                                           Good Characters  ...  \
SEXUALITY                             ND    Bisexual Characters  ...
ALIVE                  Living Characters ND Deceased Characters  ...
SEX                                                              ...
Agender Characters                     0  0                   0  ...
Female Character                       0  0                   0  ...
Female Characters                      0  0                   2  ...
Genderfluid Characters                 0  0                   0  ...
Genderless Characters                  0  0                   0  ...
Male Character                         0  1                   0  ...
Male Characters                        1  0                   0  ...
ND                                     0  0                   0  ...
Transgender Characters                 0  0                   0  ...
All                                    1  1                   2  ...

ALIGN                   Neutral Characters                          \
SEXUALITY              Bisexual Characters Heterosexual Characters
ALIVE                    Living Characters     Deceased Characters
SEX
Agender Characters                       0                       2
Female Character                         0                       0
Female Characters                        4                     187
Genderfluid Characters                   1                       0
Genderless Characters                    1                       1
Male Character                           0                       0
Male Characters                          0                     432
ND                                       0                       8
Transgender Characters                   0                       0
All                                      6                     630

ALIGN                                                           \
SEXUALITY                                Homosexual Characters
ALIVE                  Living Characters   Deceased Characters
SEX
Agender Characters                    11                     0
Female Character                       0                     0
Female Characters                    639                     1
Genderfluid Characters                 0                     0
Genderless Characters                  1                     0
Male Character                         0                     0
Male Characters                     1357                     3
ND                                   113                     0
Transgender Characters                 0                     0
All                                 2121                     4

ALIGN                                                          \
SEXUALITY                                ND     Transvestites
ALIVE                  Living Characters ND Living Characters
SEX
Agender Characters                     0  0                 0
Female Character                       0  1                 0
Female Characters                      4  0                 0
Genderfluid Characters                 0  0                 0
Genderless Characters                  0  0                 0
Male Character                         0  5                 0
Male Characters                        6  0                 1
ND                                     0  0                 0
Transgender Characters                 0  0                 0
All                                   10  6                 1

ALIGN                       Reformed Criminals                      All
SEXUALITY              Heterosexual Characters
ALIVE                      Deceased Characters Living Characters
SEX
Agender Characters                           0                 0     45
Female Character                             0                 0     49
Female Characters                            0                 1   5803
Genderfluid Characters                       0                 0      2
Genderless Characters                        0                 0     20
Male Character                               0                 0    101
Male Characters                              1                 1  16420
ND                                           0                 0    978
Transgender Characters                       0                 0      1
All                                          1                 2  23419

[10 rows x 38 columns]