In [1]:
# Welcome to my Exploring Data project for INFO 1201
# Most of the code was remixed or reused from Shiva Darian's lectures and slides
# The tables comparing three values were remixed from Michael Ghattas' code
# I answered 3 questions in the project, which you will be able to review shortly
# The code after the thank you are practices from class - feel free to disregard them

In [2]:
# I imported pandas and numpy, two libraries used in python that have functions to simplify data analysis
import pandas as pd
import numpy as np

In [3]:
# The variable superheroes means that python will use a pandas function to read the excel data sheet, organizing by the numbers in FIRST_YEAR column
superheroes = pd.read_csv("superhero_data.csv", parse_dates = ["FIRST_YEAR"])

In [4]:
# This is a viewing of the excel sheet to make sure everything is working
superheroes.head()

,UNIVERSE,page_id,name,urlslug,ID,ALIGN,IS_AVENGER,AVENGER_STATUS,AVENGER_YEAR,EYES,HAIR,SEX,SEXUALITY,ALIVE,APPEARANCES,FIRST_MONTH,FIRST_YEAR,DECEASED,RESURRECTED
0,DC,1702,Richard Occult (New Earth),Richard_Occult_(New_Earth),Secret Identity,ND,NO,ND,ND,Grey Eyes,Black Hair,Male Characters,Heterosexual Characters,Living Characters,125,October,1935,ND,ND
1,DC,158200,Arthur Pendragon (New Earth),Arthur_Pendragon_(New_Earth),Public Identity,Good Characters,NO,ND,ND,Brown Eyes,Brown Hair,Male Characters,Heterosexual Characters,Living Characters,41,February,1936,ND,ND
2,DC,289378,Bedivere (New Earth),Bedivere_(New_Earth),ND,ND,NO,ND,ND,ND,ND,Male Characters,Heterosexual Characters,Living Characters,ND,February,1936,ND,ND
3,DC,11333,Franklin Delano Roosevelt (New Earth),Franklin_Delano_Roosevelt_(New_Earth),Public Identity,Good Characters,NO,ND,ND,ND,Grey Hair,Male Characters,Heterosexual Characters,Living Characters,52,March,1936,ND,ND
4,DC,342641,Gareth (New Earth),Gareth_(New_Earth),ND,ND,NO,ND,ND,ND,ND,Male Characters,Heterosexual Characters,Living Characters,1,February,1936,ND,ND

In [5]:
print("After looking through the data of Marvel and DC characters, I developed some questions I wanted to answer.\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\nBelow is some general information for each of the keys I used:")

After looking through the data of Marvel and DC characters, I developed some questions I wanted to answer.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Below is some general information for each of the keys I used:

In [6]:
# The length of the columns or the number of rows are calculated and turned into a string to read
print("Total number of characters: " + str(len(superheroes)))

Total number of characters: 23420

In [7]:
# the variable is a list of counts for each value in a key
print("Total number of characters per gender:")
sex_counts = superheroes["SEX"].value_counts()
print(sex_counts)

Total number of characters per gender:
Male Characters           16521
Female Characters          5853
ND                          978
Agender Characters           45
Genderless Characters        20
Genderfluid Characters        2
Transgender Characters        1
Name: SEX, dtype: int64

In [8]:
print("Total number of characters per sexuality:")
sexuality_counts = superheroes["SEXUALITY"].value_counts()
print(sexuality_counts)

Total number of characters per sexuality:
Heterosexual Characters    23118
ND                           150
Homosexual Characters        118
Bisexual Characters           29
Transgender Characters         2
Genderfluid Characters         1
Transvestites                  1
Pansexual Characters           1
Name: SEXUALITY, dtype: int64

In [9]:
print("Total number of characters per moral alignment:")
moral_counts = superheroes["ALIGN"].value_counts()
print(moral_counts)

Total number of characters per moral alignment:
Bad Characters        9616
Good Characters       7584
ND                    3437
Neutral Characters    2779
Reformed Criminals       3
Name: ALIGN, dtype: int64

In [10]:
print("Total number of characters per eye color:")
eye_counts = superheroes["EYES"].value_counts()
print(eye_counts)

Total number of characters per eye color:
ND                                          13394
Blue Eyes                                    3127
Brown Eyes                                   2848
Black Eyes                                    972
Green Eyes                                    917
Red Eyes                                      719
White Eyes                                    517
Yellow Eyes                                   343
Grey Eyes                                     138
Hazel Eyes                                    102
Variable Eyes                                  49
Photocellular Eyes                             48
Purple Eyes                                    46
Orange Eyes                                    35
Pink Eyes                                      28
Gold Eyes                                      24
Violet Eyes                                    23
One Eye                                        21
Amber Eyes                                     15
Silver Eyes                                    12
No Eyes                                         7
Auburn Hair                                     7
Multiple Eyes                                   7
Yellow Eyeballs                                 6
Black Eyeballs                                  3
Magenta Eyes                                    2
Hazel Eyes; White Eyes                          1
Variable                                        1
Brown Eyes formerly Blue Eyes                   1
Blue Eyes formerly Green                        1
Red Eyes formerly Blue Eyes                     1
Brown Eyes formerly Amber formerly Green        1
Compound Eyes                                   1
Name: EYES, dtype: int64

In [11]:
print("Total number of characters per identity:")
id_counts = superheroes["ID"].value_counts()
print(id_counts)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\nNow, let's answer some questions!")

Total number of characters per identity:
Secret Identity                  8766
Public Identity                  7037
ND                               5784
No Dual Identity                 1802
Known to Authorities Identity      21
Identity Unknown                    9
Nathaniel Richards                  1
Name: ID, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Now, let's answer some questions!

In [12]:
print("First question:\nWhat percentage of female characters with a bad alignment have secret identities?\n")
# a crosstab compares the frequency of two or more values (whether they are present or not), even if they are from different keys
# big thanks to Ghattas for showcasing his work and showing how three variables can be compared in a crosstab
secretbadfemale= pd.crosstab(index = superheroes["SEX"] == ("Female Characters"), columns = [superheroes["ALIGN"] == ("Bad Characters"), superheroes["ID"] == ("Secret Identity")])
#I couldn't get the code below to work so that the table would be easier to read
#secretbadfemale.index = ["Not", "Women"]
#secretbadfemale.columns = (["Not", "Bad"], ["Not", "Secret"])
print(secretbadfemale)

print("\n712+861 = 1573\n(861/1573)*100 ~ 54.74 percent of female characters with a bad alignment have secret identities")

First question:
What percentage of female characters with a bad alignment have secret identities?

ALIGN False       True
ID    False True  False True
SEX
False  6545  2979  4414  3629
True   2983  1297   712   861

712+861 = 1573
(861/1573)*100 ~ 54.74 percent of female characters with a bad alignment have secret identities

In [13]:
print("Next question:\nWhat percentage of neutral characters have black or brown eyes?\n")
neutralblackbrown = pd.crosstab(index = superheroes["ALIGN"] == ("Neutral Characters"), columns = [superheroes["EYES"] == ("Black Eyes"), superheroes["EYES"] == ("Brown Eyes")])
print(neutralblackbrown)

print("\n149+379 = 528\n(528/2779)*100 ~ 19.00 percent of neutral characters have black or brown eyes")

Next question:
What percentage of neutral characters have black or brown eyes?

EYES   False       True
EYES   False True  False
ALIGN
False  17349  2469   823
True    2251   379   149

149+379 = 528
(528/2779)*100 ~ 19.00 percent of neutral characters have black or brown eyes

In [14]:
print("Final question:\nWhat percentage of homosexual characters are male?\n")
# by using index and columns, the true/false labels can be redefined to make reading the crosstab easier
homosexualmale = pd.crosstab(index = superheroes["SEX"] == ("Male Characters"), columns = superheroes["SEXUALITY"] == ("Homosexual Characters"))
homosexualmale.columns = ["Not Homosexual", "Homosexual"]
homosexualmale.index = ["Not Male", "Male"]
print(homosexualmale)

print("\n(72/118)*100 ~ 61.02 percent of homosexual characters are male\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\nThank you for reading!")

Final question:
What percentage of homosexual characters are male?

          Not Homosexual  Homosexual
Not Male            6853          46
Male               16449          72

(72/118)*100 ~ 61.02 percent of homosexual characters are male
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Thank you for reading!

In [15]:
# The rest of the code was done in class and is being kept for future reference, please disregard it for grading :)

In [16]:
good_bad = pd.crosstab(superheroes["FIRST_YEAR"], superheroes["ALIGN"])
#print(good_bad)

In [17]:
bad_hair = pd.crosstab(superheroes["ALIGN"], superheroes["HAIR"])
#print(bad_hair)

In [18]:
creepy_villain = pd.crosstab(superheroes["EYES"] == "Violet Eyes", superheroes["HAIR"] == "Red Hair")
#print(creepy_villain)

In [19]:
#this doesn't work
creepy_villain2 = pd.crosstab(superheroes["EYES"] == ("Red Eyes" or "Blue Eyes"), superheroes["SEX"] == "Male Characters")
#print(creepy_villain2)

In [20]:
creepy_villain3 = pd.crosstab(superheroes["EYES"] == ("Red Eyes"), superheroes["SEX"] == "Male Characters")
#print(creepy_villain3)

In [21]:
#dataframe builds a functional table from the csv (using lists). we use data to perform operations
df = pd.DataFrame(data = superheroes)
#print(df)

In [22]:
#listing names of female characters that appear more than 100 times
#initialize a blank list

list_name = []

#.shape[0] gives number of rows, .shape[1] gives number of columns
num_rows = df.shape[0]

#to print out row 0 of appearances column
#print(df["APPEARANCES"] [0])

for row in range(num_rows):
    if(df["APPEARANCES"][row]=="ND"):
        continue
    elif (df["SEX"][row] == "Female Characters" and int(df["APPEARANCES"][row])) > 100:
        list_name.append(df["name"][row])
        
#print(list_name)
#build dictionary that takes universe that character is from (key), and the number of appearances
#dictionary_name = {}
#for item in list_name:

In [23]:
import csv

In [24]:
#when shiva uploads it, she'll put in the different modes with description
file = open("superhero_data.csv", "r")
reader = csv.reader(file)
list = []

#make a list of all female characters appearing more than 100 times
#use a regular for loop (not range)

for row in reader:
    #print(row)
    #break
    if(row[14] == "ND"):
        continue
    elif((row[11]=="Female Characters") and int(row[14])>100):
        list.append(row[2])
        
#print (list)

In [25]:
# build a dictionary to take universe that character is from (key), and the number of appearances
dictionary_name = {}

for item in list:
    #if there is no parentheses, then skip it
    if("(" not in item):
        continue
    #when splitting, get 2 parts of the split: 0 (left) 1 (right)
    universe_name = item.split("(")[1][:-1]
    
    #if universe is already in dictionary, add 1 to the tally for the universe
    if universe_name in dictionary_name:
        dictionary_name[universe_name] += 1
        
    #if universe name isn't in dictionary yet, we want to add it (put first tally down)
    #syntax for adding to a dictionary is dictionary[key] = value
    else: 
        dictionary_name[universe_name] = 1
        
#print(dictionary_name)